{% load static %}

<html>
    <head>
    <style>
	table {
  	    font-family: arial, sans-serif;
  	    border-collapse: collapse;
  	    width: 30%;
	    color: white;
	}

	    td, th {
  	    border: 1px solid #dddddd;
  	    text-align: left;
  	    padding: 8px;
	}

    </style>
    <title>Looterya</title>
    </head>
    
    <body style="background-image: linear-gradient( #303459,darkblue)">
	<h1 style="font-family:sans-serif;color: white;">INSTRUÇÕES PARA PAGAR COM PIC PAY:</h1>

<table style="margin-left:110px">
  <tr>
    <th>Valor em Reais</th>
    <th>LootPoints</th>
  </tr>
  <tr>
    <td>2 Reais</td>
    <td>200 LootPoints</td>
  </tr>
  <tr>
    <td>5 Reais</td>
    <td>500 LootPoints</td>
  </tr>
  <tr>
    <td>10 Reais</td>
    <td>1000 LootPoints</td>
  </tr>
  <tr>
    <td>20 Reais</td>
    <td>2000 + 100(Bonus) LootPoints</td>
  </tr>
  <tr>
    <td>50 Reais</td>
    <td>5000 + 400(Bonus) LootPoints</td>
  </tr>
  <tr>
    <td>99 Reais</td>
    <td>9999 + 1001(Bonus) LootPoints</td>
  </tr>
</table>

<ul style="font-family: arial, sans-serif; color: white">
    <li>
	Importante: Deixar seu nome de usuário na mensagem de pagamento do PicPay! <br>
	LootPoints serão depositados em sua conta em até 2h após a confirmação do pagamento.<br>
	Qualquer dúvida, mande mensagem em nossas redes sociais! @looterya
    </li>
</ul>
	
    	<center><img src="{% static 'imagens/picpay.jpg' %}" style= "width:300px; margin-top: -335px; margin-right: -400px"></center>
    </body>

</html>